<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <label for="search">Search for Book</label>
      <input type="text" name="search" id="search" formControlName="search" class="form-control">
      <br>
      <button class="btn btn-success" type="submit" [disabled]="!searchForm.valid">Search</button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-book-item
      *ngFor="let book of books; let i = index"
      [book]="book"
      [index]="i"
    >
    </app-book-item>
  </div>
</div>
