<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive="active"
  class="list-group-item clearfix"
>
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{ book.title}}</h4>
    <p class="list-group-item-text">{{ book.autors[0] }}</p>
    <button class="btn btn-default" type="button" (click)="addToFavorites()" *ngIf="!bookService.isInFavorites(book)">Add To Favorites</button>
    <button class="btn btn-danger" type="button" (click)="removeFromFavorites($event)" *ngIf="bookService.isInFavorites(book)">Remove From Favorites</button>
  </div>
</a>
